/* ----------------------------------------- font ----------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
.fontKanit {
  font-family: 'Kanit', sans-serif;
}
.fontAudioWide {
  font-family: 'Audiowide', cursive;
}
/* ----------------------------------------- background-color ----------------------------------------- */
.bg-primary1 {
  background-color: #0057e4;
}
.bg-primary2 {
  background-color: #4c73ff;
}
.bg-primary3 {
  background-color: #7691ff;
}
.bg-primary4 {
  background-color: #9cafff;
}
.bg-primary5 {
  background-color: #c1cfff;
}
.bg-secondary1 {
  background-color: #ff6130;
}
.bg-secondary2 {
  background-color: #ff7b52;
}
.bg-secondary3 {
  background-color: #ff8e6b;
}
.bg-secondary4 {
  background-color: #ffb199;
}
.bg-secondary5 {
  background-color: #ff3c00;
}
.bg-gray1 {
  background-color: #72757e;
}
.bg-gray2 {
  background-color: #8d8f9a;
}
.bg-light1 {
  background-color: #ffffff;
}
.bg-light2 {
  background-color: #f1f2f3;
}
.bg-dark1 {
  background-color: #1d1f22;
}
.bg-dark2 {
  background-color: #43464e;
}
/* ----------------------------------------- font-color ----------------------------------------- */
.font-text1 {
  color: #000000;
}
.font-text2 {
  color: #7e7f83;
}
.font-text3 {
  color: #ffffff;
}
/* ----------------------------------------- link-color ----------------------------------------- */
.link-text1 {
  color: #ffffff;
  text-decoration: none;
}
.link-text1:hover {
  color: #ff6130 !important;
}
.link-text1:visited {
  color: #ffffff;
}
.link-text1:active {
  color: #ff6130;
}
/* ----------------------------------------- font-weight ----------------------------------------- */
.font-weight-300 {
  font-weight: 300;
}
/* ----------------------------------------- content-width ----------------------------------------- */
.content-default-width {
  width: 80vw;
}
/* ----------------------------------------- border ----------------------------------------- */
.no-border {
  border: 0;
  box-shadow: none !important;
}
/* ----------------------------------------- button ----------------------------------------- */
.myBtn {
  border: 0;
  box-shadow: none;
}
.btn-white-i {
  color: #ffffff;
  background-color: Transparent;
}
.btn-white-i:focus {
  color: #ffffff !important;
}
.btn-white-i:visited {
  color: #ffffff !important;
}
.btn-white-i:hover {
  color: #ff6130 !important;
}

/* ----------------------------------------- global CSS ----------------------------------------- */

body {
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f2f3;
}

button {
  border: 0;
}

i {
  font-size: 1.2rem;
}
