/* ****************************************** custom CSS ****************************************** */

/* ----------------------------------------- font ----------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
.fontKanit {
  font-family: 'Kanit', sans-serif;
}
.fontAudioWide {
  font-family: 'Audiowide', cursive;
}

/* ----------------------------------------- link-color ----------------------------------------- */
.link-text1 {
  color: #ffffff;
  text-decoration: none;
}
.link-text1:hover {
  color: #ff6130 !important;
  text-decoration: underline;
}
.link-text1:visited {
  color: #ffffff;
}
.link-text1:active {
  color: #ff6130;
}

.link-text2 {
  color: #000000;
  text-decoration: none;
}
.link-text2:hover {
  color: #ff6130 !important;
  text-decoration: underline;
}
.link-text2:visited {
  color: #000000;
}
.link-text2:active {
  color: #ff6130;
}

.link-text3 {
  color: #0057e4;
  text-decoration: none;
}
.link-text3:hover {
  color: #ff6130 !important;
  text-decoration: underline;
}
.link-text3:visited {
  color: #0057e4;
}
.link-text3:active {
  color: #ff6130;
}

.link-text4 {
  color: #7e7f83;
  text-decoration: none;
}
.link-text4:hover {
  color: #ff6130 !important;
  text-decoration: underline;
}
.link-text4:visited {
  color: #7e7f83;
}
.link-text4:active {
  color: #ff6130;
}
/* ----------------------------------------- font-weight ----------------------------------------- */
.font-weight-300 {
  font-weight: 300;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-900 {
  font-weight: 900;
}
/* ----------------------------------------- font-size ----------------------------------------- */
.font-size-24 {
  font-size: 24px;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-12 {
  font-size: 12px;
}

/* ----------------------------------------- content-width ----------------------------------------- */
.content-default-width {
  width: 80vw;
  margin: 1rem auto;
  padding: 0;
}
/* ----------------------------------------- border ----------------------------------------- */
.no-border {
  border: 0;
  box-shadow: none !important;
}
/* ----------------------------------------- button ----------------------------------------- */
.myBtn {
  border: 0;
  box-shadow: none;
}
.my-btn-primary {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  width: 100%;
  height: 40px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 3px 3px 5px 1px #72757e;
  background: #0057e4;
}
.my-btn-primary:hover {
  color: #ff6130;
  box-shadow: none;
  font-weight: 700;
  border-color: #ff6130 !important;
  border: 3px solid #ff6130 !important;
  background: #ffffff;
}

.btn-white-i {
  color: #ffffff;
  background-color: Transparent;
}
.btn-white-i:focus {
  color: #ffffff !important;
}
.btn-white-i:visited {
  color: #ffffff !important;
}
.btn-white-i:hover {
  color: #ff6130 !important;
}
.btn-dark-i {
  color: #1d1f22;
  background-color: Transparent;
}
.btn-dark-i:focus {
  color: #1d1f22 !important;
}
.btn-dark-i:visited {
  color: #1d1f22 !important;
}
.btn-dark-i:hover {
  color: #ff6130 !important;
}
.btn-gray-i {
  color: #7e7f83;
  background-color: Transparent;
}
.btn-gray-i:focus {
  color: #7e7f83 !important;
}
.btn-gray-i:visited {
  color: #7e7f83 !important;
}
.btn-gray-i:hover {
  color: #ff6130 !important;
}
.btn-green-i {
  color: #00c300;
  background-color: Transparent;
}
.btn-green-i:focus {
  color: #00c300 !important;
}
.btn-green-i:visited {
  color: #00c300 !important;
}
.btn-green-i:hover {
  color: #ff6130 !important;
}

.btn-user-link {
  color: #7e7f83;
  background-color: Transparent;
}
.btn-user-link:focus {
  color: #7e7f83 !important;
}
.btn-user-link:visited {
  color: #7e7f83 !important;
}
.btn-user-link:hover {
  color: #ff6130 !important;
  text-decoration: underline;
}
/* ----------------------------------------- checkbox ----------------------------------------- */
.checkbox-bg-primary {
  color: #ffffff;
  background-color: #ffffff;
}
.checkbox-bg-primary:focus {
  color: #ffffff;
  background-color: #ffffff;
}
.checkbox-bg-primary:visited {
  color: #ffffff;
  background-color: #ffffff;
}
.checkbox-bg-primary:hover {
  color: #ffffff;
  background-color: #0057e4;
}
/* ----------------------------------------- horizontal rule ----------------------------------------- */
.hr-gray {
  background-color: #8d8f9a;
  padding: 1px 50%;
}
.hr-primary {
  background-color: #0057e4;
  padding: 1px 50%;
}
/* ----------------------------------------- font-color ----------------------------------------- */
.font-text1 {
  color: #000000;
}
.font-text2 {
  color: #7e7f83;
}
.font-text3 {
  color: #ffffff;
}
.font-text-primary {
  color: #0057e4;
}
.font-text-secondary {
  color: #ff6130;
}
/* ----------------------------------------- background-color ----------------------------------------- */
.bg-primary1 {
  background-color: #0057e4;
}
.bg-primary2 {
  background-color: #4c73ff;
}
.bg-primary3 {
  background-color: #7691ff;
}
.bg-primary4 {
  background-color: #9cafff;
}
.bg-primary5 {
  background-color: #c1cfff;
}
.bg-secondary1 {
  background-color: #ff6130;
}
.bg-secondary2 {
  background-color: #ff7b52;
}
.bg-secondary3 {
  background-color: #ff8e6b;
}
.bg-secondary4 {
  background-color: #ffb199;
}
.bg-secondary5 {
  background-color: #ff3c00;
}
.bg-gray1 {
  background-color: #72757e;
}
.bg-gray2 {
  background-color: #8d8f9a;
}
.bg-light1 {
  background-color: #ffffff;
}
.bg-light2 {
  background-color: #f1f2f3;
}
.bg-dark1 {
  background-color: #1d1f22;
}
.bg-dark2 {
  background-color: #43464e;
}

/* ****************************************** bootstrap CSS ****************************************** */
.btn-primary {
  background-color: #0057e4;
}
.btn-success {
  background-color: #00c300;
}

/* ****************************************** global CSS ****************************************** */

body {
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f2f3;
}

button {
  border: 0;
}

i {
  font-size: 1.2rem;
}

hr {
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
}
